<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>

<svg width="500" height="500">
    <g transform="translate(250,250)">
    <defs>
        <pattern id="cat" patternUnits="userSpaceOnUse" x="250" y="250" width="500" height="500">
            <image xlink:href="cat.jpg" x="0" y="0" width="500" height="500" />
        </pattern>
    </defs>
    </g>
</svg>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<script src="draw.js" ></script>

</body>
</html>